body {
  background: rgb(244, 241, 242);
  background: radial-gradient(
    circle,
    rgba(244, 241, 242, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
nav {
  width: fit-content;
  position: relative;
  margin: 200px auto;
  text-align: center;
}
nav a {
  display: block;
  text-decoration: none;
  margin-top: 20px;
  color: #01346f;
  font-weight: 600;
  text-transform: uppercase;
}
